*, *:before, *:after {
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    font-weight: 300;
    line-height: 1.5;
}

body {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, .heading {
    font-family: Montserrat, sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 1.2;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 2rem;
    text-align: center;
}

h3 {
    font-size: 1.5rem;
}

.lesson-nr {
    font-size: 1.3rem;
    padding-right: 10px;
}

p {
    margin-bottom: 0;
}

ul {
    margin-top: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

section {
    margin-bottom: 100px;
}

.l-content-wrapper {
    width: 100%;
}

.l-content-row {
    display: flex;
}

.l-content-box {
    padding: 58px;
    border: 2px solid white;
}

.logo {
    float: left;
    margin-left: 10%;
}

.heading {
    float: right;
    margin-right: 10%;
    font-size: 1.2rem;
}

.title {
    
}

.title-box {
    width: 25%;
    height: 700px;
    margin-left: 25%;
    padding-top: 135px;
    flex: 0 0 25%;
    color: white;
    border: none;
}

.subtitle {
    font-weight: 600;
}

.flex-1 {
    flex: 1 0 33%;
}

.flex-2 {
    flex: 2 0 67%;
}

.vorschau {
    width: 100%;
    height: auto;
    margin: 1em 0;
}

.light-gray {
    background-color: #DADADA;
}

.dark-gray {
    background-color: #2F2F2F;
}
