@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
    src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'),
        url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'),
        url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'),
        url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'),
        url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

*, *:before, *:after {
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    font-weight: 300;
    line-height: 1.5;
}

body {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, .heading {
    font-family: Montserrat, sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 1.2;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 2rem;
    text-align: center;
}

h3 {
    font-size: 1.5rem;
}

.lesson-nr {
    font-size: 1.3rem;
    padding-right: 10px;
}

a {
    color: inherit;
    text-decoration: none;
}

p {
    margin-bottom: 0;
}

ul {
    margin-top: 0;
    padding-left: 25px;
}

.text-center {
    text-align-last: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

section {
    margin-bottom: 150px;
}

.l-content-wrapper {
    width: 100%;
}

.l-content-row {
    display: flex;
    flex-wrap: wrap;
}

.l-content-box {
    position: relative;
    padding: 58px;
    border: 2px solid white;
}

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}

.logo {
    float: left;
    margin-left: 10%;
}

.heading {
    float: right;
    margin-right: 10%;
    font-size: 1.2rem;
}

.title {
    
}

.title-box {
    width: 25%;
    height: 700px;
    margin-left: 25%;
    padding-top: 135px;
    flex: 0 0 25%;
    color: white;
    border: none;
}

.subtitle {
    font-weight: 600;
}

.vorschau {
    width: 100%;
    height: auto;
    margin: 1em 0;
}

.light-gray {
    background-color: #DADADA;
}

.dark-gray {
    background-color: #2F2F2F;
}



/* 02 03 04 Multiscreen und Bildsprache */
.lesson02,
.lesson08-1 {
    img {
        display: block;
        max-width: 100%;
        margin: 0 auto;
    }
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
    height: 80%;
    background-color: black;
    opacity: 0;
    transition: all .5s;

    h3 {
        font-size: 0;
        transition: all .5s;
    }
}

.overlay__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
    margin: 0;
    text-align: center;
    color: white;
}

.magnify::after {
    content: "\f00e";
    font-family: 'FontAwesome';
}

.overlay-trigger {
    position: relative;
    
    &:hover .overlay {
        width: 100%;
        height: 100%;
        opacity: .7;

        h3 {
            font-size: 1.5rem;
        }
    }
}


/* Flex Gallery */
.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.flex-item {
    flex: 1 1 auto;
    margin: 10px;
}
.flex-img {
    display: block;
    width: 100%;
    height: 250px;
    max-height: 80vh;
    object-fit: cover;
}


/* 07 Personas */
.lesson07-1 {
    p {
        padding: 1em;
        text-align: center;
    }
    .l-content-box {
        height: 80vh;
    }
    img {
        display: block;
        max-width: 100%;
        max-height: 100%;
        margin: 0 auto;
    }
}

/* 07-2 Szenarios */
.lesson lesson07-2 {

}

.szenario__table {
    width: 100%;
}

thead {
    .dark-gray;
    color: white;
}
td {
    vertical-align: top;
    padding: 5px;
}

tbody tr:nth-child(odd) {
    background-color: #ececec;
}
tbody tr:nth-child(even) {
    background-color: #e5e5e5;
}

//tr.odd {
//    background-color: #eee;
//}

.td-5 { width: 5%; }
.td-10 { width: 10%; }
.td-20 { width: 20%; }
.td-30 { width: 30%; }
.td-40 { width: 40%; }
.td-50 { width: 50%; }
.td-60 { width: 60%; }
.td-70 { width: 70%; }
.td-80 { width: 80%; }
.td-90 { width: 90%; }

.nutzerszenario {
    td:first-child {
        text-align: center;
    }
}